.container-todo{
  padding-top: 20px;
}
.titulo {
  text-align: center;
    width: 100%;
    border-radius: 8px 8px 0 0;
    margin: 0;
    box-sizing: border-box;
    padding: 20px 0 5px 0; /* Solo arriba y abajo */
    background-color: #1677ff;
    color: #fff;
}
.table-header {
  margin: 20px;
}
.agregar {
  background-color: #80EF80;
  
}
.editar {
  background-color: #FFC067;
}
.eliminar {
  background-color: #FF746C;
}

.pagination-controls {
  margin: 20px;
}

.table-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 0 20px 0; /* Solo padding abajo */
  margin: 20px auto;
  width: 95%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  ;
}

.filtro{
  margin-bottom: 10px;
  margin-right: 20px;
}

table {
  width: 97%;
  border-collapse: collapse;
  margin: 0 auto;
  align-items: center;
  
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}
